*{
    margin: 0px;
    padding:0px;
}

body{
    background-color: black;
    color: white;
    padding:10px;
    
}

.signup-navbar{
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 20px;
}

.signup-navbar button{
    background-color: black;
    border: none;
    color: white;
    padding: 0px 5px;
}

.signupContainer{
    width: 80%;
    margin: 0px auto;
    padding: 0 20px;
}
.signupContainer>h2{
 margin-bottom: 20px;
}
.signupContainer>form{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.signupContainer input{
    padding: 5px;
    border: none;
    background-color: black;
    color: white;
    border-bottom: 1px solid white;
    outline: none;
}

.signupContainer button{
    width: 20%;
    margin: 20px 0px;
    align-self: flex-start;
    padding: 5px;
}

.profile-section{
    
    width: 80%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 10px;
}

.profile-section>button{
    align-self: flex-start;
    width: 20%;
    padding: 0px 5px ;
    margin-top: 20px;
}